html{ scroll-behavior: smooth; }

*{margin: 0; padding: 0; box-sizing: border-box; 
		 font-family: 'Poppins', sans-serif;}

a{ text-decoration: none; }



a:hover
{ text-decoration: none; }

li{
	list-style: none;
}

p{
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
}



.header{
	width: 100%;
	height:100vh;
	background-image:linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3)), url(./img/study.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
	position: relative;

}

.header:before{

	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: 0.2;
	z-index: -1;
	background: linear-gradient(to right, #1e5799 0, #3ccdbb 0%, #F7B470 100%);
}

.navbar:before{

	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: 0.2;
	z-index: -1;
	background: linear-gradient(to right, #1e5799 0, #3ccdbb 0%, #F7B470 100%);
}


.nav-item a{

	color: #fff!important;
	font-weight: bold;
}

.header-section{
	width: 100%;
	height: inherit;
	color: white;
	position: relative;
	text-align: center;
	

}
.center-div{
			
			width: 100%;
			color: #fff;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			

}

.center-btn a{

	border: 1px solid #fff;
	padding: 5px 30px;
	margin: 0 5px;
	padding: 12px 35px;
	border-radius: 100px;
	color: white;
	outline: none;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	
}
.center-btn a:hover{

	color: #50d1c0;
	background-color: #fff;
	text-decoration: none;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

.center-div p{

		font-size: 1.3rem;
		padding: 10px 0 20px 0;
		color: white;
}

/**************Typing Effect************/


.container1 {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
 /* background-color: red;*/
  padding-top: 100px;

}
.container1 p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container1 p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container1 p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container1 p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

/*<!-- ******************header part end**************** -->


<!-- ******************Extra Div Start**************** -->*/

.extradiv{

	width: 100%;
	height: auto;
	margin: 100px 0;
	text-align: center;
}

.ex-div{

	background: #fff;
	border: medium none;
	padding: 50px!important;
	border-radius: 3px;
	transition: 0.3s;

}

.ex-div h2{

	font-size: 0.9rem;
	margin: 20px 0 15px 0;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 4px;
}

.ex-div:hover{

	
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	transform: translateY(-20px);
}

/* ******************Extra Div *****************/

/*************Counter Part Start**************/


.counter-s{

	margin: 100px 0;
	height: 150px;
	
}

.counter-s h1{

	font-size: 2rem;
	text-align: center;
	
}

/*************Counter Part end**************/

/*************feedback Part Start**************/

.feedback{

	width: 100%;
	height: 100vh;
	padding: 80px 0;


}


.box{

	text-align: center;
	border:1px solid rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
	border-radius: 2px;
	transition: 0.3s ease;
	height: 400px;

}
.box:hover{

	background: #16c9f6;
}

.box:hover p{

	color: white;
}

.carousel-indicators{

	position: absolute;
	right: 0;
	bottom: -60px!important;

}

.carousel-indicators li{

	background-color: #16c9f6!important;
}

.box a{

	position: relative;
}

.box a img{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 20px;
}

.box a:after{

	content: "\f10d";
	font-family: FontAwesome;
	width: 40px;
	height: 40px;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
	color: white;
	position: absolute;
	top: 120%;
	left:70%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*************feedback Part End**************/

/*************Contact Us Part Start**************/

.contact{

	width: 100%;
	height: 100vh;
	padding: 80px 0;
	position: relative;

}

.contact:before{

	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(330deg, #9933ff 55%, #fff 0%);
	z-index: -1;
}

.contact button{

	border: 1px solid #9933ff;
	padding: 5px 30px;
	margin: 0 5px;
	padding: 12px 35px;
	border-radius: 100px;
	color: #9933ff;
	outline: none;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	background: #9933ff;
}

form:hover button{

	background: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);	

}



/*************Contact Us Part End**************/

/*************Newsletter Part start**************/
.newsletter{

	width: 100%;
	height: auto;
	margin: 80px auto;

	
}
.newsletter .news-letter{

	border-radius: 100px 0 0 100px !important;
	min-width: 150px;
	min-height: 45px;
	margin-top: 35px;
	

}

.newsletter .input-group-text{

	border-radius: 0 100px 100px 0!important;
	background: #00ccff;
	color: white;
	min-width: 130px;
	min-height: 40px;
	margin-top: 35px;

}


/*************Newsletter Part End**************/

.footersection{

	width: 100%
	height:auto;
	padding: 70px 0 20px 0;
	background: #00abff;
	position: relative;
}

.footersection p{

	color: #fff;
}

.footersection li a{

	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #fff;
	text-transform: capitalize;


}

.footersection h3{

	text-transform: uppercase;
	color: #fff;
	margin-bottom: 25px;
	font-size: 1.2rem!important;
	font-weight: bold;
	text-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

footer .newsletter{

	margin: 0px!important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #00abff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
}

#myBtn:hover {
  background-color: #555;
}

/*******************foooter End***********/


@media (max-width: 768px)
{

.nav-item{

	text-align: center;
}

.center-div h1{

	font-size: 1.2rem;
}

.container1 p{

	font-size: 2.5rem;
}
.feedback ,.contact{

	height: auto;
	margin-top: 50px;
}

.feedback .box{

	padding: 10px;
}

.footer-div:nth-child(2){

	text-align: left!important;


}

.footer-div{

	margin: 30px 0;
}




}

@media(max-width: 800px){
.nav-item{

	text-align: center;

}

.center-div h1{

	font-size: 1.7rem;
	padding: 3px;
}

.container1 p{

	font-size: 2.5rem;
}
.contact{

	height: auto;
	margin-top: 50px;
}

.feedback{

	height: auto;
}

.feedback .box{

	padding: auto;
	height: auto;
}



/*.footer-div:nth-child(2){

	text-align: left!important;


}*/

.footer-div{



	margin: 30px 0;
}

}

@media(max-width: 350px)
{

/*.center-div h1{

		padding-bottom: 60px;
}*/

.center-div p{

	padding-top: 0px;
}


.center-btn a{

	/*border: 1px solid #fff;*/
	
	padding-bottom: 40px;
	padding: 8px 20px;
	border-radius: 100px;
	color: white;
	outline: none;
	font-size: 0.5rem;
	/*font-weight: 400;*/
	/*line-height: 1.4;*/
	text-align: center;
}



.container1 p{

	font-size: 1rem;
	margin-bottom: 70px;
}

.navbar-toggler
{

	color: white!important;
}

.feedback{

	height: auto;
	margin-top: 50px;

}

.box{

	padding-top: 20px;
}
.box p{

	font-size: 0.5rem;
}

.newsletter h1{

	font-size: 1.2rem;
}

.counter-s h1{

	font-size: 1.5rem;
}

.header{
      height:auto;
}

}


