
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');*/

html{ scroll-behavior: smooth; }

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

a{

	color: black!important;
}

a:hover{

	color: black!important;
	text-decoration: none!important;
}






@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}



.navbar:before{

	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: 0.2;
	z-index: -1;
	  background-repeat: no-repeat;
	background-image: linear-gradient(90deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
	background-size: 400% 400%;
	animation: bganimation 15s infinite;
	box-shadow: 0 0 10px 0 rgba(0,0,0,1.3);
	
}


.nav-item a{

	
	font-weight: bold;
}


.search-i{

	

	width: 400px;
	padding: 5px;
	/*padding-left: 20px;*/
	background-color: #ecf0f1;
	border-radius: 100px;
	border: none;

	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	margin-left: 200px;
}

 i{

	
	
	font-size: 25px;
	padding-left: 10px;
	align-items: center;
	/*padding-top: 5px;*/

}

.avtaar{

	/*padding-top: 10px;*/
	color: red;
	padding-left: 200px;

	
}

.avatar-img {
  /*vertical-align: middle;*/
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
 
}

.avtaar-div{

	text-align: center;
	display: flex;
	

	
	
}

.sign-out{

	/*background-color: red;*/
	width: 200px;

}

.sign-out h6{

	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	padding-top: 5px;
	font-weight: bold;
	text-transform: capitalize;
	
}

::placeholder {
  
  
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}


/*>>>>>>>>>>>>>>>>drop-donw menu start<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



.dropdown-nav{

	max-width: 100%;
	margin-bottom: 30px;
	margin-top: 20px;
	height: auto;

}

.dropdown-nav a{


	color: white!important;
	background-color: black;
	display: block;
	font-weight: bold;

	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none!important;


}

.dropdown-nav a:hover{

	background-color: #b2bec3;

}

.dropdown-nav ul{

	list-style: none;
	display: flex;
}
.dropdown-nav li{

	width: 100%;
	text-align: center;
	position: relative;
}
.dropdown-nav li:hover .sub > li{

	display: block;
	top: 0px;
}

.sub li{

	display: none;
	position: absolute;
	top: 0px;
}

.sub{

	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
}

.sub li{

	position: relative;
}

.sub li:hover .sub-2 li{

	display: block;
}

.sub-2 li{

	display: none;
}

.sub-2{

	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0px;
	left: 100%;
	width: 100%;
	z-index: 999;
}

.sub-2 li{


z-index: 1000;}

.sub li{

	z-index: 12200;
}

.arrow{
	margin-left: 8px;
}
	



/*>>>>>>>>>>>>>>>>drop-donw menu end<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/





.main{

	width: 100%;
	margin-top: 30px;
	height:auto;
	padding-left: 0px!important;
	padding-right: 0px!important;
	position: relative;
	justify-content: center;
	display: flex;

}

.resource{

	width: 60px;
	height: 500px;
	
	position: absolute;
	left: 0;
	margin-top: 100px;


}
.resource ul li{

	width: 100%;
	height: 50px;
	background-color: red;
	
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

	

}

.ebook h3{

	font-size: 0px;
			
}

.ebook:hover h3{

	font-size: 20px!important;
	padding-left: 10px; 
	text-transform: uppercase;
	font-family: 'Sriracha', cursive!important;
	padding-top: 10px;
			
}


.videol h3{

	font-size: 0px;
			
}

.videol:hover h3{

	font-size: 20px!important;
	padding-left: 10px;
	text-transform: uppercase;
	font-family: 'Sriracha', cursive!important;
	padding-top: 10px;

			
}



.Thesis h3{

	font-size: 0px;
			
}

.Thesis:hover h3{

	font-size: 20px!important;
	padding-left: 10px;
	text-transform: uppercase;
	font-family: 'Sriracha', cursive!important;
	padding-top: 10px;
			
}

.Notes h3{

	font-size: 0px;
	
			
}

.Notes:hover h3{

	font-size: 20px!important;
	padding-left: 10px;
	text-transform: uppercase;
	font-family: 'Sriracha', cursive!important;
	padding-top: 10px;

			
}

.research h3{

	font-size: 0px;

			
}

.research:hover h3{

	font-size: 20px!important;
	padding-left: 10px;
	text-transform: uppercase;
	font-family: 'Sriracha', cursive!important;
	padding-top: 10px;

			
}





.resource ul li:hover{

	width: 200px;
	font-size: 20px!important;
	color: black;
	border-radius: 0 20px;
	transition: 0.3s;
	
	


}





.center-div{

	height:auto;
 	/*box-shadow: 0 0 10px 0 rgba(30, 144, 255,1.0);*/
 	background-color: #f1f2f6;
	margin-right: 10px!important;
	margin-left: 20px!important;
	position: absolute;
	
	border: none;

	

	
	

}



.owl-item{

	width: 200px!important;
	padding-left: 40px;
	


}



.item{

	width: 120px;
	height: 180px;
	margin: 20px!important;
	/*margin-left: 20px!important;*/
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	
	/*border: 2px solid ;*/
	
}

.item:hover{

	transform: translateY(-10px);
}

.owl-carousel{

	
	margin-top: 40px;
	
	

}


  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled, button.owl-next , button.owl-prev{
    display: none; }
  
  .owl-dot {
    cursor: pointer;
    display: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     }

.hr-dash{

	border-top: 5px solid #ffa801;
}

.sidebar{

	width: 30px;
	height: auto;
	/*background-color: red;*/
	margin-top: 30px;
	justify-content: center;
	text-align: center;
}

.side-bar li{
	list-style: none;


}

.li-div{

	width: 200px;
	height: 40px;
	
	margin-top: 20px;
	padding: 5px;
	text-decoration: none;
	color: white!important;

}




.owl-nav1{

width: 100%;

margin-left: 30px;




}

.owl-prev1{

	margin-left: 450px;
	width: 40px;
height: 40px;
border-radius: 50px;
border: none;
box-shadow: 0 0 10px 0 rgba(0,0,0,1);

}

.owl-next1{

	margin-left: 50px;
	width: 40px;
height: 40px;

border-radius: 50px;
border: none;

box-shadow: 0 0 10px 0 rgba(0, 0, 0,1);


}

.owl-next1 i{

	padding: 0px;
	/*transform: translateY(20%);*/
	display: flex;
justify-content: center;
align-items: center;
	
}

.owl-prev1 i{

	padding: 0px;
		display: flex;
justify-content: center;
align-items: center;
	

}










/*>>>>>>>>>>>>>>>>>Media Quires<<<<<<<<<<<<<<<<<<<<*/

@media(min-width: 320px) and (max-width: 600px)

{

	.search-i{

		width: 270px!important;
		padding: 15px;
		margin-left: 0px!important;
		height: 15px;
		margin-top: 10px;
		display: flex;
	}

	::placeholder {
  
  
		  text-align: center;
		  text-transform: capitalize;
 		font-size: 10px;
 }

 i{

	
	
	font-size: 20px;
	padding-left: 10px;
	margin-top: 10px;
	align-items: center;
	margin-left: 120px;
}

.avtaar-div{

	padding: 0px;
	
	margin-top: 10px;
	margin-left: 60px;
}

.avtaar img{

		width: 30px;
		height: 30px;
	}

.sign-out{

	width: 150px;
}

.sign-out h6{

	font-size: 10px;
}

.avtaar{

	padding: 0px;
}

.sign-out i{

	margin: 0px;
}

.dropdown-nav{

	max-width: 100%;
	margin-bottom: 30px;
	margin-top: 20px;
	height: auto;

}

.dropdown-nav a{


	color: white!important;
	background-color: black;
	display: flex;
	font-weight: bold;
	display: block;

	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	text-decoration: none!important;
	
	


}
.dropdown-nav li{

	font-size: 7px;
	flex-wrap: wrap;
	
}

.resource{

	display: none;
}







